html {
 background-color: white;
 font-size: 1rem;
 font-family: sans-serif;
}

.pic {
  width: 360px;

  border: 1px solid grey;
}

.col {
  float: left;
  display: inline-block;

}
.tag {
  display: inline;
  float: right;
}
