html {
 background-color: white;
 font-size: 1rem;
 font-family: sans-serif;
}

.pic {
  width: 420px;
  display: inline;
  padding: 3px;
  border: 1px solid grey;

}

.col {
  width: 29%;
  display: inline-block;
  border-bottom: 1px solid grey;
  border width: 100%;



}
.tag {
  display: inline;
  font-size: .75rem;
  position: relative;
  top: -25px;
  right: -175px;

}
.number{
  font-size: .75rem;
  position: relative;
  top: 5px;
width: inherit;
}
