html {
 box-sizing: border-box;
 background-color: white;
 font-size: 10px;
 font-family: sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
}

.pic {
width: 300px;
padding: 10px;
border: solid grey 1px;
}

.col {
  width: 300px;
  height: 300px;
  display: inline-block;
  padding: 10px;
}

.tag {
  display: inline;
  float: right;
}

.number{
  display: inline-block;
  color: #909090;
}

hr{
  margin: 0;
}
